<ion-header>
  <ion-toolbar>
    <ion-title>Data Desa</ion-title>
    <ion-buttons class="ion-padding-end" slot="end">
      <ion-button color="light" fill="solid">
        <ion-icon slot="start" name="add"></ion-icon>Tambah&nbsp;
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content class="ion-no-padding">
      <table>
        <tr class="tb_header">
          <th>No.</th>
          <th>Nama Daerah</th>
          <th>Nama Desa</th>
          <th>&nbsp;</th>
        </tr>
        <tr>
          <td>1.</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td width="1">
            <ion-button size="small" (click)="detail()">
              <ion-icon slot="start" name="create"></ion-icon>Edit
            </ion-button>
          </td>
        </tr>
      </table>
    </ion-card-content>
  </ion-card>
</ion-content>