<ion-card-content class="ion-no-padding">
  <ion-toolbar mode="ios">
    <ion-title>Detail Desa</ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" size="small" (click)="tutup()">
        <ion-icon slot="start" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-card-content>
<ion-card-content>
  <ion-item class="ion-no-padding">
    <ion-label position="stacked">Daerah</ion-label>
    <ion-select placeholder="Pilih Daerah">
      <ion-select-option value="">&nbsp;</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item class="ion-no-padding">
    <ion-label position="stacked">Nama Desa</ion-label>
    <ion-input></ion-input>
  </ion-item>
</ion-card-content>
<ion-card-content class="ion-text-center">
  <ion-button>Simpan</ion-button>
</ion-card-content>