<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" style="width: 100px;">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Admin UBMart</ion-list-header>
          <ion-note>admin@ubmart.com</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of menu_main; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none"
              detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of menu_location; let i = index">
            <ion-item (click)="selectedIndex = i + menu_main.length" routerDirection="root" [routerLink]="[p.url]"
              lines="none" detail="false" [class.selected]="selectedIndex == i + menu_main.length">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>