/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.custom-modal .modal-wrapper {
  --height: auto;
  .ion-page {
    position: relative;
  }
}

table {
  .tb_header {
    // border: 1px solid red !important;
  }
  width: 100%;
  td,
  th {
    text-align: left;
    padding: 8px;
  }
  th {
    background-color: #34495e;
    color: #ecf0f1;
  }
  td {
    border-bottom: 1px solid #bdc3c7;
  }
}

ion-button {
  --background: #34495e;
}

ion-toolbar {
  --background: #2c3e50;
  --color: #ecf0f1;
}

ion-content {
  --background: #ecf0f1;
}
